<!-- <md-toolbar color="primary">
  Angular Material 2 App
</md-toolbar>

<div style="padding: 10px">
  <button md-button>FLAT</button>
  <br/><br/>
  <button md-raised-button>RAISED</button>
  <br/><br/>
  <button md-icon-button>
     <md-icon class="md-24">favorite</md-icon>
  </button>
  <br/><br/>
  <button md-fab>
     <md-icon class="md-24">add</md-icon>
  </button>
  <br/><br/>
  <button md-mini-fab>
     <md-icon class="md-24">add</md-icon>
  </button>
  <br/><br/>
  <button md-raised-button color="primary">PRIMARY</button>
  <br/><br/>
  <button md-raised-button color="accent">ACCENT</button>
  <br/><br/>
  <button md-raised-button color="warn">WARN</button>
  <br/><br/>
  <button md-button disabled>off</button>
  <br/><br/>
  <button md-raised-button [disabled]="isDisabled">off</button>
  <br/><br/>
  <button md-mini-fab [disabled]="isDisabled">check circle</button>
  <br/><br/>
</div> -->
<h1>TEST</h1>
