<div class="row">
    <div class="col-md-4" style="height: 100%; overflow-y: auto;">
        <div *ngFor="#vehicle of vehicles" class="row vehicle" (click)="onSelect(vehicle)">
            <img src="{{vehicle.picture}}" class="col-md-5" />
            <div class="col-md-7">
                <h4>{{vehicle.make}} {{vehicle.model}}</h4>
                <h5>{{vehicle.licensePlate}}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <vehicle-detail [vehicle]="selectedVehicle"></vehicle-detail>
    </div>
</div>

<style type="text/css">
    .vehicle {
        height: 100px;
    }
</style>