<h4>Create Contact</h4>
<form [ngFormModel]="contactForm" (submit)="doLogin($event)">

    <div class="form-group">
        <label for="email">Name</label>
        <input class="form-control" id="name" ngControl="name">
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" id="address" ngControl="address">
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <input class="form-control" id="city" ngControl="city">
    </div>

    <div class="form-group">
        <label for="state">State</label>
        <input class="form-control" id="state" ngControl="state">
    </div>

    <div class="form-group">
        <label for="zip">Zip</label>
        <input class="form-control" id="zip" ngControl="zip">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" ngControl="email">
    </div>

    <div class="form-group">
        <label for="twitter">Twitter</label>
        <input class="form-control" id="twitter" ngControl="twitter">
    </div>

    <button type="submit" class="btn btn-default">Log in</button>



</form>