<article class="template animated slideInRight">
    <h4>Create Contact</h4>
    <form [ngFormModel]="contactForm" (submit)="save(contactForm.value)">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="email">Name</label>
            <input class="mdl-textfield__input" type="text" id="name" ngControl="name">
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="address">Address</label>
            <input class="mdl-textfield__input" type="text" id="address" ngControl="address">
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="city">City</label>
            <input class="mdl-textfield__input" type="text" id="city" ngControl="city">
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="state">State</label>
            <input class="mdl-textfield__input" type="text" id="state" ngControl="state">
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="zip">Zip</label>
            <input class="mdl-textfield__input" type="text" id="zip" ngControl="zip">
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="email">Email</label>
            <input class="mdl-textfield__input" type="text" id="email" ngControl="email">
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="twitter">Twitter</label>
            <input class="mdl-textfield__input" type="text" id="twitter" ngControl="twitter">
        </div>

        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Log in
        </button>

    </form>
</article>
