<div *ngIf="vehicle">
    <div class="row"><div class="col-md-2">Make</div><div class="col-md-10">{{vehicle.make}}</div></div>
    <div class="row"><div class="col-md-2">Model</div><div class="col-md-10">{{vehicle.model}}</div></div>
    <div class="row"><div class="col-md-2">License Plate</div><div class="col-md-10">{{vehicle.licensePlate}}</div></div>
    <div class="row"><div class="col-md-2">Type</div><div class="col-md-10">{{vehicle.type}}</div></div>
    <div class="row"><div class="col-md-2">Seats</div><div class="col-md-10">{{vehicle.seats}}</div></div>
    <div class="row"><div class="col-md-2">Rating</div><div class="col-md-10">{{vehicle.rating}}</div></div>
</div>
