<div class="page-header text-center">
    <h1>
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
        <span style="padding-bottom:10px">Angular Notes</span>
    </h1>
</div>

<div class="container" style="padding:15px">

    <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="addNoteText" placeholder="new note"
               (keypress)="($event.which === 13)?addNote():0"/>
        <span class="input-group-btn">
            <button (click)="addNote()" class="btn btn-success">Add Note</button>
        </span>
    </div>
    <br/>
    <div class="panel panel-default" *ngIf="notes.length>0">
        <table class="table table-striped">
            <tr class="list-group" *ngFor="let note of notes">
                <td>
                    {{note.noteText}}
                    <button class="btn btn-xs btn-danger pull-right" (click)="deleteNote(note)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>