<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp" *ngFor="#contact of contactsList">
        <div class="mdl-card__media">
            <img [src]="'app/assets/images/' + contact.image"/>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">{{contact.name}}</h4>
        </div>
        <div class="mdl-card__supporting-text">
            <span class="mdl-typography--font-light mdl-typography--subhead">{{contact.address}}, {{contact.city}}, {{contact.state}} {{contact.zip}}</span>
        </div>
        <div class="mdl-card__supporting-text">
            <span class="mdl-typography--font-light mdl-typography--subhead">{{contact.email}}</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" [href]="'http://twitter.com/' + contact.twitter" target="_blank">
                @{{contact.twitter}}
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>
</div>